.close {
    text-align: end !important;

    button {
        width: 28px;
        height: 28px;
        padding: 0;
        min-width: auto;
        width: fit-content;
        height: fit-content;
    }
}

.actions {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 24px;
    align-items: center;
    justify-content: space-between;
}