<div class="task-dialog">
   <div class="top">
        <p class="title">{{data?.title}}</p>

        <button 
            mat-button 
            class="close" 
            (click)="onClose()"
        >
            <ax-svg-icon [name]="'close'"></ax-svg-icon>
        </button>
   </div>
   <ng-form [formGroup]="taskForm" class="form">
        <div class="inputs">
            <div class="date">
                <ax-date-picker 
                    [ax-disabled]="disabled"
                    [formControl]="taskForm.controls.date"
                    [label]="'Дата создания'">
                </ax-date-picker>
            </div>
            <ax-input 
                [ax-disabled]="disabled"
                [formControl]="taskForm.controls.title"
                [label]="'Название'" 
                [required]="true">
            </ax-input>
        </div>

        <ax-textarea 
            [ax-disabled]="disabled"
            [formControl]="taskForm.controls.description"
            [label]="'Описание'">
        </ax-textarea>

        <div class="radio">
            <ax-label 
                [label]="'Приоритет задачи'" 
                [required]="true">
            </ax-label>
            
            <mat-radio-group 
                [formControl]="taskForm.controls.priority"  
                class="group"
            >
                <mat-radio-button 
                    [ngClass]="{disabled: disabled}"
                    [color]="radio.color"
                    *ngFor="let radio of radioButtons"
                    [value]="radio.type"
                    class="check"
                >
                    {{radio.name}}
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <ax-select 
            [ax-disabled]="disabled"
            [formControl]="taskForm.controls.performer"
            [label]="'Исполнитель'" 
            [required]="true"
            [options]="data.options$ | async">
        </ax-select>

        <ng-container *ngIf="data?.buttons">
            <div class="buttons">
                <ax-button 
                    [disabled]="taskForm.invalid"
                    [text]="'Сохранить'" 
                    [mode]="'primary'"
                    (clicked)="submit()">
                </ax-button>
                <ax-button 
                    [text]="'Сохранить как черновик'"
                    (clicked)="onSave()">
                </ax-button>
            </div>
        </ng-container>
   </ng-form>
</div>