<ng-container *ngIf="currentPage$ | async as currentPage">
    <div class="dashboard">
        <ax-navigation 
            [pages]="dashboardPages$ | async"
            [currentPage]="currentPage"
            (selectedPage)="onChangeCurrentPage($event)"
            (logoutClick)="logout()">
        </ax-navigation>
    
        <div class="box">
            <header axResize>
                <ax-header
                    [title]="currentPage.title"
                    [user]="user$ | async"
                >
                    <ng-container #container></ng-container>
                </ax-header>
            </header>
    
            <main 
                [ngStyle]="{ height: headerHeight }"
                class="main"
            >
                <ng-scrollbar>
                    <router-outlet></router-outlet>
                </ng-scrollbar>
            </main>
        </div>
    </div>
</ng-container>
