@import 'colors';

.dashboard {
    height: 100svh;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    .box {
        display: flex;
        flex-direction: column;
        background-color: $ax-grey;
        min-height: 100%;
        flex: 1;
    }

    .main {
        padding: 20px;
        height: calc(100svh - 86px);
    }
}