@import 'colors';
@import 'mixin';

:host {
    display: block;
}

.header {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 25px 30px;
    background: $ax-white;
    
    .container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .title {
            @include text-mixin(600,28px,36px,$ax-black);
        }
    }
}