$ax-white: #FFFFFF;
$ax-black: #484848;

//grey
$ax-grey: #F8F8F8;
$ax-light-grey: #EAEAEA;
$ax-deep-grey: #AFB2BE;

//blue
$ax-light-blue: #4971FF;
$ax-default-blue: #2B53E1;
$ax-linear-blue: linear-gradient(90deg, rgba(73, 113, 255, 0.1) 0%, rgba(73, 113, 255, 0) 100%);
